@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root{
    --cor1:#2d423d;
    --cor2:#009cdad3;
    --cor3:#ff0505d2;
    --cor4:#374b47c7;
    --cor01:#111C26;
    --cor02:#193c49;
    --cor03:#A68568;
    --cor04:#a63d33c2;
    --cor05:#8C3E3E;
    --cor06:#D93240;
}

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
}

body *{
    box-sizing: border-box;
}

.conteudo{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #111C26, #111c26ec, #111c26d8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mensagem > h1{
    color: var(--cor06);
    font-size: 4vw;
}

.imagem{
    width: 45vw;
}

.login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px 30px;
   border-radius: 15px;
   box-shadow: 0px 10px 30px rgba(12, 12, 12, 0.596);
   background: #0c4c88cb;
}
.card-login >h1 {
    color: var(--cor06);
    font-weight: bold;
    margin: 0px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 10pt;
    background: #0c4c8870;
    box-shadow: 0px 8px 25px rgba(12, 12, 12, 0.356);
    color: rgb(227, 250, 247);
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: azure;
    margin-bottom: 8px;
}

.textfield > input::placeholder{
    color: var(--cor03);
}

.button{
    width: 100%;
    padding: 15px 0px;
    margin: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 1.15em;
    letter-spacing: 1px;
    color: #041a1d;
    background-color: #79d1fafb;
    cursor: pointer;
    box-shadow: 0px 10px 50px -15px rgba(16, 160, 160, 0.671);
}
.button:hover{
    transform: scale(0.98);
    background-color: #ff393267;
    color: var(--cor2);
}

p{
    font-size: 12pt;
    color: rgba(226, 240, 253, 0.856);
}

.criar-conta{
    text-decoration: none;
    font-size: 12pt;
    color: var(--cor06);
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 80%;
      
    }
}

@media only screen and (max-width: 600px){
    .conteudo{
        flex-direction: column;
    }
    .login{
        width: 100%;
    }
    .mensagem{
        width: 100%;
    }
    .imagem{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}

@media only screen and (max-width: 400px){
    .conteudo{
        flex-direction: column;
        margin: 0;
        overflow-x: hidden;
    }
    .login{
        width: 100%;
        height: 70%;
    }
    .mensagem{
        width: 100%;
        height: 50vh;
        padding-top: 50px;
    }
    .imagem{
        width: 75vw;
    }

    .card-login{
        width: 80%;
        height: 97%;
    }
    .mensagem > h1{
        font-size: 8vw;
}

}
